<ion-menu side="start" menuId="main_menu" contentId="main">
  <ion-header>
    <ion-toolbar>
      <ion-item>
        <ion-avatar slot="start" (click)="this.redirectToProfile()">
          <img src="{{ this.user?.photoURL ?? 'assets/icon/user.png'}}" alt="Photo de profile">
        </ion-avatar>
        <ion-label>
          <h2> {{ this.user?.email }}</h2>
          <p> {{ this.project?.name }}</p>
        </ion-label>
      </ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="redirectToHome()" >Accueil</ion-item>
      <ion-item (click)="redirectToTickets()">Tickets</ion-item>
      <ion-item (click)="redirectToMembers()">Membres</ion-item>
      <ion-item (click)="redirectToParameters()">Paramètres</ion-item>
      <ion-item (click)="logout()">Se déconnecter</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
