<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="this.closeModal()">
        Fermer
      </ion-button>
    </ion-buttons>
    <ion-title>
      Nouveau Ticket
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="this.ticketForm" (ngSubmit)="this.createOrUpdateTicket()" class="modal__form">

    <ion-input class="input__primary" placeholder="Nom" formControlName="name"></ion-input>
    <ion-textarea rows="5" class="textarea__primary" placeholder="Description" formControlName="description"></ion-textarea>

    <ion-list>
      <ion-item>
        <ion-label>Type</ion-label>
        <ion-select interface="popover" formControlName="type" >
          <ion-select-option value="task">Tache</ion-select-option>
          <ion-select-option value="bug">Bug</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Responsable</ion-label>
        <ion-select interface="popover" formControlName="owner">
          <ion-select-option value="undefined">Personne</ion-select-option>
          <ion-select-option *ngFor="let user of this.projectParticipants" value="{{user.uid}}">{{user.displayName}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Priorité</ion-label>
        <ion-select interface="popover" formControlName="priority" >
          <ion-select-option value="high">Haute</ion-select-option>
          <ion-select-option value="medium">Moyenne</ion-select-option>
          <ion-select-option value="low">Basse</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="this.currentTicket">
        <ion-label>Status</ion-label>
        <ion-select interface="popover" formControlName="status" >
          <ion-select-option value="open">Ouvert</ion-select-option>
          <ion-select-option value="started">En cours</ion-select-option>
          <ion-select-option value="blocked">Bloqué</ion-select-option>
          <ion-select-option value="finished">Fermé</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-list>
    <ion-button class="button__primary" type="submit" [disabled]="!this.ticketForm.valid">
      {{this.ticketId?'Modifier':'Ajouter'}}
    </ion-button>
  </form>
</ion-content>
