<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="this.closeModal()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Nouveau Ticket
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="this.ticketForm" (ngSubmit)="this.createTicker()" class="form__login">
    <ion-list>
      <ion-item>
        <ion-input class="input__primary" placeholder="Nom" formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
       <ion-textarea class="textarea__primary" placeholder="Description" formControlName="description"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>Type</ion-label>
        <ion-select interface="popover" formControlName="type" >
          <ion-select-option value="task">Tache</ion-select-option>
          <ion-select-option value="bug">Bug</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Responsable</ion-label>
        <ion-select interface="popover" formControlName="owner">
          <ion-select-option *ngFor="let user of this.projectParticipants" value="{{user.uid}}">{{user.displayName}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Priorité</ion-label>
        <ion-select interface="popover" formControlName="priority" >
          <ion-select-option value="high">Haute</ion-select-option>
          <ion-select-option value="medium">Moyenne</ion-select-option>
          <ion-select-option value="low">Basse</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-list>
    <ion-button class="button__primary" type="submit" [disabled]="!this.ticketForm.valid">
      Ajouter
    </ion-button>
  </form>
</ion-content>
