<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="arrow-back-outline" color="primary" (click)="this.goBackToProject()"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" (click)="this.goToEditTicket()">
      <ion-icon slot="icon-only" name="create-outline" color="primary"></ion-icon>
    </ion-buttons>
    <ion-title>Ticket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="this.ticket">
  <ion-card>
    <ion-card-header>
      <div class="ticket__container__header">
        <div class="ticket__container__header__element">
          <ion-img *ngIf="this.ticket.type === 'task'"
                   class="image__icon"
                   src="{{'assets/icon/task.svg'}}">
          </ion-img>
          <ion-img *ngIf="this.ticket.type === 'bug'"
                   class="image__icon"
                   src="{{'assets/icon/bug.svg'}}">
          </ion-img>
          <ion-card-title>{{this.ticket.name}}</ion-card-title>
        </div>
        <div class="ticket__container__header__element">
          <ion-img *ngIf="this.ticket.priority === 'high'"
                   class="image__icon"
                   src="{{'assets/icon/high.svg'}}">
          </ion-img>
          <ion-img *ngIf="this.ticket.priority === 'medium'"
                   class="image__icon"
                   src="{{'assets/icon/medium.svg'}}">
          </ion-img>
          <ion-img *ngIf="this.ticket.priority === 'low'"
                   class="image__icon"
                   src="{{'assets/icon/low.svg'}}">
          </ion-img>
          <ion-label class="ticket__status {{this.ticket.status}}" >
            {{this.ticket.status}}
          </ion-label>
          <ion-img class="image__icon" src="{{'assets/icon/user.png'}}">
          </ion-img>
        </div>
      </div>
    </ion-card-header>

    <ion-card-content>
      {{this.ticket.description}}
    </ion-card-content>
    <ion-card-content class="ticket__container__creator">
      <ion-label>Created by:</ion-label>
      <ion-img class="image__icon" src="{{'assets/icon/user.png'}}">
      </ion-img>
      <ion-label>Walid BOUKRIS</ion-label>
    </ion-card-content>
  </ion-card>
  <ion-list class="list__project__container">
    <ion-list-header class="list__header">Attachments:</ion-list-header>
  </ion-list>


</ion-content>
