<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="arrow-back-outline" color="primary" (click)="this.goBackToProject()"></ion-icon>
    </ion-buttons>
    <ion-buttons *ngIf="this.projectService.userCanWrite()" slot="end" style="margin-right: 10px;">
      <ion-icon slot="icon-only" name="cloud-upload-outline" style="margin-right: 10px;" color="primary"
                (click)="this.addAttachment()"></ion-icon>
      <ion-icon slot="icon-only" name="create-outline" color="primary"
                (click)="this.goToEditTicket()"></ion-icon>
    </ion-buttons>
    <ion-title>Ticket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="this.ticket">
  <ion-card>
    <ion-card-header style="padding: 0">
      <ion-item color="success">
        <ion-img *ngIf="this.ticket.type === 'task'"
                 class="image__icon"
                 src="{{'assets/icon/task.svg'}}">
        </ion-img>
        <ion-img *ngIf="this.ticket.type === 'bug'"
                 class="image__icon"
                 src="{{'assets/icon/bug.svg'}}">
        </ion-img>
        <ion-text class="ticket__label">{{ticket.name}}</ion-text>
        <ion-note style="display: flex; flex-direction: column; align-items: center" slot="end" >
          <ion-img *ngIf="ticket.priority === 'high'"
                   class="image__icon"
                   src="{{'assets/icon/high.svg'}}">
          </ion-img>
          <ion-img *ngIf="ticket.priority === 'medium'"
                   class="image__icon"
                   src="{{'assets/icon/medium.svg'}}">
          </ion-img>
          <ion-img *ngIf="ticket.priority === 'low'"
                   class="image__icon"
                   src="{{'assets/icon/low.svg'}}">
          </ion-img>
          <ion-avatar style="padding: 10px">
            <ion-img src="{{ this.findUserFromUid(this.ticket.owner)?.photoURL ?? 'assets/icon/user.png' }}"></ion-img>
          </ion-avatar>
          <ion-label class="ticket__status {{this.ticket.status}}" *ngIf="this.ticket.status === 'open'">
            Ouvert
          </ion-label>
          <ion-label class="ticket__status {{this.ticket.status}}" *ngIf="this.ticket.status === 'started'">
            En cours
          </ion-label>
          <ion-label class="ticket__status {{this.ticket.status}}" *ngIf="this.ticket.status === 'blocked'">
            Bloqué
          </ion-label>
          <ion-label class="ticket__status {{this.ticket.status}}" *ngIf="this.ticket.status === 'finished'">
            Fermé
          </ion-label>
        </ion-note>
      </ion-item>
    </ion-card-header>

    <ion-card-content style="padding: 10px">
      {{this.ticket.description}}
    </ion-card-content>
    <ion-card-content class="ticket__container__creator">
      <ion-label>Ajouté par:</ion-label>
      <ion-chip>
        <ion-avatar>
          <ion-img src="{{ this.findUserFromUid(this.ticket.createdBy)?.photoURL ?? 'assets/icon/user.png' }}"></ion-img>
        </ion-avatar>
        <ion-label>{{ this.findUserFromUid(this.ticket.createdBy)?.displayName ?? 'Personne' }}</ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>


  <ion-list class="list__project__container">
    <ion-list-header class="list__header">Attachments:</ion-list-header>
    <ion-item *ngFor="let attachment of attachments">
      <a href="{{attachment.fileURL}}" download="{{attachment.id}}" target="_blank">
        <ion-thumbnail>
          <img src="{{attachment.fileURL}}">
        </ion-thumbnail>
      </a>
      <ion-buttons slot="end" style="margin-right: 10px;">
        <ion-icon slot="icon-only" name="cloud-download-outline" color="primary" (click)="this.download(attachment)"
                  style="margin-right: 10px;" *ngIf="false"></ion-icon>
        <a href="{{attachment.fileURL}}" download="{{attachment.id}}" target="_blank">
          <ion-icon slot="icon-only" name="expand-outline" color="primary" style="margin-right: 10px;"></ion-icon>
        </a>
        <ion-icon slot="icon-only" name="trash-outline" color="danger" (click)="this.deleteAttachment(attachment)"></ion-icon>
      </ion-buttons>
    </ion-item>
  </ion-list>


</ion-content>
