<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Membres</ion-title>
    <ion-buttons *ngIf="this.projectService.userCanWrite()" slot="end" (click)="this.addMember();" style="margin-right: 10px;">
      <ion-icon slot="icon-only" color="primary" name="add-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="list__project__container">
    <ion-list-header class="list__header">Membres</ion-list-header>
    <ion-item-sliding *ngFor="let user of this.users" >
      <ion-item>
        <ion-avatar slot="start">
          <img src="{{ user?.photoURL ?? 'assets/icon/user.png'}}" alt="Photo de profile">
        </ion-avatar>
        <ion-label>
          <h2><a href="mailto:{{ user.email }}" style="color: black; text-decoration: none; cursor: auto;">
            {{ user.email }}
          </a></h2>
          <p> {{ user.phoneNumber }}</p>
        </ion-label>
        <ion-note style="display: flex; flex-direction: column; align-items: center" slot="end" color="primary">
          <div class="ticket__container__header__element" *ngIf="this.isAdmin(user.uid)">
            <ion-label class="ticket__status started" >Admin</ion-label>
          </div>
          <div class="ticket__container__header__element" *ngIf="!this.isAdmin(user.uid)">
            <ion-label class="ticket__status open" *ngIf="!this.isMemberWithFullRights(user)" >Invité</ion-label>
            <ion-label class="ticket__status finished" *ngIf="this.isMemberWithFullRights(user)">Membre</ion-label>
          </div>

          <ion-button (click)="this.updateMember(user)" *ngIf="!this.isAdmin(user.uid) && this.isAdmin(this.userId)">
            <ion-icon slot="icon-only" name="pencil"></ion-icon>
          </ion-button>
        </ion-note>
      </ion-item>

      <ion-item-options side="end" *ngIf="this.isAdmin(this.userId) && !this.isAdmin(user.uid)">
        <ion-item-option (click)="this.removeFromProject(user)" color="danger"><ion-icon slot="icon-only" name="trash-outline"></ion-icon></ion-item-option>
      </ion-item-options>
      <ion-item-options side="start" *ngIf="this.isPlatformAndroid()">
        <ion-item-option (click)="this.call(user)" color="success"><ion-icon slot="icon-only" name="call-outline"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
