<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Membres</ion-title>
    <ion-button slot="end" (click)="this.addMember();">
      <ion-icon slot="icon-only" name="add-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="list__project__container">
    <ion-list-header class="list__header">Membres</ion-list-header>
    <ion-item-sliding *ngFor="let user of this.users" >
      <ion-item>
        <ion-avatar slot="start">
          <img src="{{ user?.photoURL ?? 'assets/icon/user.png'}}" alt="Photo de profile">
        </ion-avatar>
        <ion-label>
          <h2> {{ user.email }}</h2>
          <p> {{ user.phoneNumber }}</p>
        </ion-label>
        <ion-button slot="end" (click)="this.updateMember()" *ngIf="user.uid !== ownerId && this.userId === this.ownerId">
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-button>
        <div class="ticket__container__header__element" *ngIf="user.uid === this.ownerId">
          <ion-label class="ticket__status started" >Admin</ion-label>
        </div>
      </ion-item>

      <ion-item-options side="end" *ngIf="this.userId === this.ownerId && this.ownerId !== user.uid">
        <ion-item-option (click)="this.removeFromProject(user)" color="danger"><ion-icon slot="icon-only" name="trash-outline"></ion-icon></ion-item-option>
      </ion-item-options>
      <ion-item-options side="start" *ngIf="this.isPlatformAndroid()">
        <ion-item-option (click)="this.call(user)" color="success"><ion-icon slot="icon-only" name="call-outline"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
