<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Projet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Project's tickets !-->
  <ion-list class="list__project__container" *ngIf="this.project !== undefined">
    <ion-list-header class="list__header">{{this.project.name}}</ion-list-header>
    <ion-item-sliding *ngFor="let ticket of this.tickets" >
      <ion-item (click)="this.redirectToTicket(ticket)">
        <ion-item>
          <ion-img *ngIf="ticket.type === 'task'"
                   class="image__icon"
                   src="{{'assets/icon/task.svg'}}">
          </ion-img>
          <ion-img *ngIf="ticket.type === 'bug'"
                   class="image__icon"
                   src="{{'assets/icon/bug.svg'}}">
          </ion-img>
          <ion-label class="ticket__label">{{ticket.name}}</ion-label>
        </ion-item>
        <ion-note style="display: flex; flex-direction: row; align-items: center" slot="end" color="primary">
          <ion-label class="ticket__status {{ticket.status}}" *ngIf="this.ticket.status === 'open'">
            Ouvert
          </ion-label>
          <ion-label class="ticket__status {{ticket.status}}" *ngIf="this.ticket.status === 'started'">
            En cours
          </ion-label>
          <ion-label class="ticket__status {{ticket.status}}" *ngIf="this.ticket.status === 'blocked'">
            Bloqué
          </ion-label>
          <ion-label class="ticket__status {{ticket.status}}" *ngIf="this.ticket.status === 'finished'">
            Fermé
          </ion-label>
          <ion-img *ngIf="ticket.priority === 'high'"
                   class="image__icon"
                   src="{{'assets/icon/high.svg'}}">
          </ion-img>
          <ion-img *ngIf="ticket.priority === 'medium'"
                   class="image__icon"
                   src="{{'assets/icon/medium.svg'}}">
          </ion-img>
          <ion-img *ngIf="ticket.priority === 'low'"
                   class="image__icon"
                   src="{{'assets/icon/low.svg'}}">
          </ion-img>
          <ion-avatar style="padding: 10px">
            <ion-img src="{{ this.findUserFromUid(ticket.owner)?.photoURL ?? 'assets/icon/user.png'}}"></ion-img>
          </ion-avatar>
        </ion-note>
      </ion-item>
      <ion-item-options side="end" *ngIf="this.projectService.userCanWrite()">
        <ion-item-option (click)="this.deleteTicket(ticket)" color="danger"><ion-icon slot="icon-only" name="trash-outline"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- fab placed to the (vertical) center and end -->
  <ion-fab *ngIf="this.projectService.userCanWrite()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="this.modalCreateTicket()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
