<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Projet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Project's tickets !-->
  <ion-list class="list__project__container" *ngIf="this.project !== undefined">
    <ion-list-header class="list__header">{{this.project.name}}</ion-list-header>
    <ion-item>
      <ion-label>Trier par</ion-label>
      <ion-select id="orderId" interface="popover" (ionChange)="this.changeOrder($event)">
        <ion-select-option value="creationDateTime">Date</ion-select-option>
        <ion-select-option value="status">Status</ion-select-option>
        <ion-select-option value="type">Type</ion-select-option>
        <ion-select-option value="priority">Priorité</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-accordion-group>
    <ion-accordion value="numbers">
      <ion-item slot="header">
        <ion-label>Filtrer</ion-label>

        <ion-button color="danger" (click)="this.resetFilter()">
          annuler
        </ion-button>
      </ion-item>

      <ion-list slot="content">
        <ion-item>
          <ion-segment id="filterType" (ionChange)="this.applyFilterType($event)">
            <ion-segment-button value="bug" layout="icon-start">
              <ion-img class="image__icon"
                       src="{{'assets/icon/bug.svg'}}">
              </ion-img>
              <ion-label>Bug</ion-label>
            </ion-segment-button>
            <ion-segment-button value="task" layout="icon-start">
              <ion-img class="image__icon"
                       src="{{'assets/icon/task.svg'}}">
              </ion-img>
              <ion-label>Task</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-item>
        <ion-item>
          <ion-segment id="filterPriority"  (ionChange)="this.applyFilterPriority($event)">
            <ion-segment-button value="high" layout="icon-start">
              <ion-img class="image__icon"
                       src="{{'assets/icon/high.svg'}}">
              </ion-img>
              <ion-label>High</ion-label>
            </ion-segment-button>
            <ion-segment-button value="medium" layout="icon-start">
              <ion-img class="image__icon"
                       src="{{'assets/icon/medium.svg'}}">
              </ion-img>
              <ion-label>Medium</ion-label>
            </ion-segment-button>
            <ion-segment-button value="low" layout="icon-start">
              <ion-img class="image__icon"
                       src="{{'assets/icon/low.svg'}}">
              </ion-img>
              <ion-label>Low</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-item>
        <ion-item>
          <ion-segment id="filterStatus" (ionChange)="this.applyFilterStatus($event)">
            <ion-segment-button value="open">
              <ion-label class="ticket__status open">
                Ouvert
              </ion-label>
            </ion-segment-button>
            <ion-segment-button value="started">
              <ion-label class="ticket__status started">
                En cours
              </ion-label>
            </ion-segment-button>
            <ion-segment-button value="blocked">
              <ion-label class="ticket__status blocked">
                Bloqué
              </ion-label>
            </ion-segment-button>
            <ion-segment-button value="finished">
              <ion-label class="ticket__status finished">
                Fermé
              </ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-item>
      </ion-list>
    </ion-accordion>
    </ion-accordion-group>

    <ion-item-sliding *ngFor="let ticket of this.tickets" >
      <ion-item (click)="this.redirectToTicket(ticket)">
        <ion-label style="display: flex; flex-direction: row; align-items: center">
          <ion-img *ngIf="ticket.type === 'task'"
                   class="image__icon"
                   src="{{'assets/icon/task.svg'}}">
          </ion-img>
          <ion-img *ngIf="ticket.type === 'bug'"
                   class="image__icon"
                   src="{{'assets/icon/bug.svg'}}">
          </ion-img>
          <ion-label class="ticket__label">{{ticket.name}}</ion-label>
        </ion-label>
        <ion-note style="display: flex; flex-direction: row; align-items: center" slot="end" color="primary">
          <ion-label class="ticket__status {{ticket.status}}" *ngIf="this.ticket.status === 'open'">
            Ouvert
          </ion-label>
          <ion-label class="ticket__status {{ticket.status}}" *ngIf="this.ticket.status === 'started'">
            En cours
          </ion-label>
          <ion-label class="ticket__status {{ticket.status}}" *ngIf="this.ticket.status === 'blocked'">
            Bloqué
          </ion-label>
          <ion-label class="ticket__status {{ticket.status}}" *ngIf="this.ticket.status === 'finished'">
            Fermé
          </ion-label>
          <ion-img *ngIf="ticket.priority === 'high'"
                   class="image__icon"
                   src="{{'assets/icon/high.svg'}}">
          </ion-img>
          <ion-img *ngIf="ticket.priority === 'medium'"
                   class="image__icon"
                   src="{{'assets/icon/medium.svg'}}">
          </ion-img>
          <ion-img *ngIf="ticket.priority === 'low'"
                   class="image__icon"
                   src="{{'assets/icon/low.svg'}}">
          </ion-img>
          <ion-avatar style="padding: 10px">
            <ion-img src="{{ this.findUserFromUid(ticket.owner)?.photoURL ?? 'assets/icon/user.png'}}"></ion-img>
          </ion-avatar>
        </ion-note>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="this.deleteTicket(ticket)" color="danger"><ion-icon slot="icon-only" name="trash-outline"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- fab placed to the (vertical) center and end -->
  <ion-fab *ngIf="this.projectService.userCanWrite()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="this.modalCreateTicket()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
