<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm"
        (ngSubmit)="this.loginWithEmailPassword()"
        class="form__login">
    <ion-img class="logo__primary" src="{{'assets/logo/logo_lite.png'}}"></ion-img>

    <ion-input class="input__primary"
               placeholder="Email"
               formControlName="email"
               type="email">
    </ion-input>
    <ion-input class="input__primary"
               placeholder="Password"
               formControlName="password"
               type="password">
    </ion-input>

    <ion-label class="message__primary"
               (click)="this.redirectToPasswordRecovery()">
      Mot de passe oublié ?
    </ion-label>
    <ion-button class="button__primary"
                type="submit"
                [disabled]="!loginForm.valid">
      Connexion
    </ion-button>
    <ion-card-content class="social__login">
      <ion-img class="logo__secondary"
               src="{{'assets/logo/google_logo.png'}}"
               (click)="this.loginWithGoogle()"></ion-img>
      <ion-img class="logo__secondary"
               src="{{'assets/logo/github_logo.png'}}"
               (click)="this.loginWithGithub()"></ion-img>
    </ion-card-content>

    <ion-label class="message__primary">
      Pas encore de compte ? Inscrivez vous !
    </ion-label>
    <ion-button class="button__primary"
                color="light"
                (click)="this.redirectToRegister()" >
      S'inscrire
    </ion-button>
  </form>
</ion-content>
