<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="this.redirectToProfile()">
        <ion-img class="image__icon" src="{{'assets/icon/user.png'}}">
        </ion-img>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="this.logOut()">
        <ion-img class="image__icon" src="{{'assets/icon/logout.png'}}">
        </ion-img>
      </ion-button>
    </ion-buttons>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text *ngIf="userProjects.length === 0 && otherProjects.length === 0">
    Aucun projet à afficher.
  </ion-text>

  <!-- Personal Projects!-->
  <ion-label class="list__header"
             style="font-weight: bold; margin-left: 10px;"
             *ngIf="this.userProjects.length > 0">
    Mes Projets
  </ion-label>

  <ion-card *ngFor="let project of userProjects" (click)="this.redirectToProject(project)">
    <ion-card-header>
      <ion-card-title>{{project.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content style="font-size: 20px">
      {{project.description}}
    </ion-card-content>
  </ion-card>

  <!-- Other Projects!-->
  <ion-label class="list__header"
             style="font-weight: bold;"
             *ngIf="this.otherProjects.length > 0">
    Autres Projets
  </ion-label>

  <ion-card *ngFor="let project of otherProjects" (click)="this.redirectToProject(project)">
    <ion-card-header>
      <ion-card-title>{{project.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content style="font-size: 20px">
      {{project.description}}
    </ion-card-content>
  </ion-card>

  <!-- fab placed to the (vertical) center and end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="this.modalCreateProject()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
