<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-img class="image__icon"
                 src="{{'assets/icon/user.png'}}">
        </ion-img>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="danger"
                  (click)="this.logOut()">
        <ion-img class="image__icon"
                 src="{{'assets/icon/logout.png'}}">
        </ion-img>
      </ion-button>
    </ion-buttons>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  Hello Home
</ion-content>
