<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="this.redirectToLogin()"></ion-back-button>
    </ion-buttons>
    <ion-title>Récupération de mot de passe</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form [formGroup]="passwordRecoveryForm"
        (ngSubmit)="this.recoverPassword()"
        class="form__login">
    <ion-text>Veuillez saisir l'adresse mail associée à votre compte.</ion-text>
    <ion-input class="input__primary"
               placeholder="Email"
               formControlName="email"
               type="email">
    </ion-input>
    <ion-button class="button__primary"
                type="submit"
                [disabled]="!passwordRecoveryForm.valid">
      Envoyer un email
    </ion-button>
  </form>
</ion-content>
