/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Login/Regiser/Password Recovery Page */
.logo__primary{
  height: 100px;
  margin-bottom: 50px;
}

.form__login{
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.button__primary {
  background: var(--jira-color-primary);
  border: 1px solid var(--jira-color-primary);
  border-radius: 5px;
  width: 80%;
  margin-top: 20px;
}

.input__primary {
  border-radius: 5px;
  border: 1px solid rgb(179, 186, 197);
  background: white;
  color: black;
  max-height: 50px!important;
  width: 80%;
  margin-top: 10px;
  padding-left: 10px !important;
}

.textarea__primary{
  border-radius: 5px;
  border: 1px solid rgb(179, 186, 197);
  background: white;
  color: black;
  height: 70px !important;
  width: 80%;
  margin-top: 10px;
  padding-left: 10px !important;
}

.message__primary{
  width: 80%;
  padding-top: 5px;
}

.social__login{
  display: flex;
  width: 80%;
  justify-content: center;
  padding: 0;
  margin: 10px 0px 25px 0;
}

.logo__secondary{
  height: 50px;
  border: 1px solid var(--jira-color-primary);
  padding: 5px;
  border-radius: 5px;
  margin: 0 20px 0 20px ;
}


/* Home Page*/
.image__icon{
  height: 30px;
}

.list__project__container{
  margin: 40px 0;
}

.list__header{
  font-size: 30px;
}

.list__project{
  font-size: 22px !important;
}

/* Modal create Project */

.add__user{
  display: flex;
  width: 80%;
  align-items: center;
  margin-top: 10px;
}

.add__user__input{
  border-radius: 5px;
  border: 1px solid rgb(179, 186, 197);
  background: white;
  color: black;
  max-height: 50px!important;
  width: 80%;
  padding-left: 10px !important;
}

.add__user__icon{
  margin-left: 5px;
}


