<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="this.closeModal()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Nouveau Projet
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="projectForm" (ngSubmit)="this.createProject()" class="form__login">
    <ion-input class="input__primary" placeholder="Nom" formControlName="name"></ion-input>
    <ion-textarea class="textarea__primary" placeholder="Description" formControlName="description"></ion-textarea>

    <ion-label class="message__primary" >
      Membres:
    </ion-label>
    <div class="add__user">
      <ion-input class="add__user__input" placeholder="Email" formControlName="email"></ion-input>
      <ion-icon class="add__user__icon" size="large" color="primary" name="person-add-outline"
                (click)="this.addUser()">
      </ion-icon>
    </div>

    <ion-list class="list__email__container" *ngIf="this.listUsers.length > 0">
      <ion-item-sliding *ngFor="let u of this.listUsers.reverse(); index as i;">

        <ion-item class="list__email" color="white">
          <ion-label>{{u.email}}</ion-label>
          <ion-toggle slot="end"
                      name="blueberry"
                      (click)="changeDroit(u)"></ion-toggle>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="deleteUser(u)" color="danger">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>


    <ion-button class="button__primary" type="submit" [disabled]="!projectForm.valid">
      Ajouter
    </ion-button>
  </form>
</ion-content>
