<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="this.closeModal()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Nouveau Projet
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="projectForm" (ngSubmit)="this.createProject()" class="form__login">
    <ion-input class="input__primary" placeholder="Nom" formControlName="name"></ion-input>
    <ion-textarea class="textarea__primary" placeholder="Description" formControlName="description"></ion-textarea>

    <ion-button class="button__primary" type="submit" [disabled]="!projectForm.valid">
      {{this.projectId?'Modifier':'Ajouter'}}
    </ion-button>
  </form>
</ion-content>
