<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons *ngIf="this.isAdmin()" slot="end" (click)="this.goToEditProject()">
      <ion-icon slot="icon-only" name="create-outline" color="primary"></ion-icon>
    </ion-buttons>
    <ion-title>Paramètres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{this.project?.name}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content style="padding: 10px">
      {{this.project?.description}}
    </ion-card-content>
    <ion-card-content class="ticket__container__creator">
      <ion-label>Admin :</ion-label>
      <ion-chip>
        <ion-avatar>
          <ion-img src="{{ this.findUserFromUid(this.project.admin)?.photoURL ?? 'assets/icon/user.png' }}"></ion-img>
        </ion-avatar>
      <ion-label>{{ this.findUserFromUid(this.project.admin)?.displayName ?? 'Personne' }}</ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>

  <ion-fab class="button__quit__project" vertical="bottom" *ngIf="this.isAdmin()">
    <ion-button color="danger"
                expand="block"
                (click)="this.deleteProject()">
      Supprimer
    </ion-button>
  </ion-fab>

  <ion-fab class="button__quit__project" vertical="bottom" *ngIf="!this.isAdmin()">
    <ion-button color="danger"
                expand="block"
                (click)="this.leaveProject()">
      Quitter
    </ion-button>
  </ion-fab>

</ion-content>
